div.flash-message.col-6.ml-sm-auto.px-4
    if successes
      for success in successes
        div.alert.alert-success #{ success }
    if errors
      for error in errors
        div.alert.alert-danger #{ error }