header#header.header
    .header_toggle 
        i#header-toggle.bx.bx-menu

    nav.header_breadcrumb(style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb")
        ol.breadcrumb 
            li.breadcrumb-item
                a(href="/")
                    i.bx.bx-home
            li.breadcrumb-item  
                span= breadcrumb

    .header_img
        img(src="https://i.imgur.com/hczKIze.jpg" alt="") 
