.l-navbar#nav-bar
    nav.nav 
        div 
            a(class="nav_logo" href="#")
                i(class="bx bx-layer nav_logo-icon") 
                span(class="nav_logo-name") #{__('MyApplication')}

            #nav_list   
                a(class="nav_link" class={"active": path === 'clubs'} href="/clubs")
                    i(class="bx bx-building-house nav_icon")
                    span(class="nav_name")   #{__('Clubs')}

            #nav_list   
                a(class="nav_link" class={"active": path === 'players'} href="/players")
                    i(class="bx bx-user nav_icon")
                    span(class="nav_name")   #{__('Players')}

