extends ../layout

block content

  .card.text-center 
    .card-header 
      ul.nav.nav-pills.card-header-pills
        li.nav-item
          a.nav-link.active(href="#") Active
        li.nav-item 
          a.nav-link(href="#") Link
    .card-body 
      h5 fhsdjkfhsdf